<a href="https://colab.research.google.com/github/miralfazhossain/TTP-2022-Class/blob/main/Day_2_warm_up_1_(my)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Select a set of characters from “Hello World” to print

In [1]:
txt="Hello World "
print(txt[2:5])

llo

#2. Print “Hello World” in reverse

In [ ]:
txt="Heelo World" [::-1]
print(txt)

#3.Print user input in reverse

In [ ]:
useIn = input() [::-1]
print(useIn)

#4. Print user input in a sentence

In [ ]:
name = input("Who am I?\n")
resp="My name is " + name + " . "
prnit(resp)

#5. Find the type of three objects

In [ ]:
a = "Hello World"
b = 123
c = 2j
d = 1.0
e = ['kiwi','strawberry','pineaaple']
f = (1,2,3)
g = {1:"Hello", 2:"Hi", 3:"Howdy"}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

#6.Add two numbers together

In [ ]:
x = 100
y = -50
print(x+y)

# 7. Find the square root of 5 numbers

In [ ]:
n1 = 5
n2 = 10
n3 = 2
n4 = 3
n5= 4

x1 = n1**2
x2 = n2**2

#Find the whole number of 5 division problems

In [ ]:
'''
print(x1 / 2)
print(x2 / 2)
print(x3 / 2)
print(x4 / 2)
print(x5 / 2)
'''

print(x1 // 2)
print(x2 // 2)
print(x3 // 2)
print(x4 // 2)
print(x5 // 2)

#9. Create two lists and combine them

In [ ]:
list1 = [0, 1, 2,  3, 4]
list2 = [5, 6, 7, 8, 9]
#print(list1 + list 2)
print(list1 + list 2)

#10.Create two arrays and combine them

In [ ]:
list1 = [0, 1, 2,  3, 4]
list2 = [5, 6, 7, 8, 9]
#print(list1 + list 2)
print(list1 + list 2)

#11. Convert 5 objects from one type to another(ex. Int to Float)

In [ ]:
b = 123
c = 2j
d = 1.0

a1 = float(b)
a2 = int(b)
a3 = str(d)
print(a1)
print(a2)
print(a3)

#12. Convert a lowercase string to an UPPERCASE STRING

In [ ]:
text = "hello world"
print(text.upper())

#13.  Print out the word “Python”, one letter at a time

In [ ]:
a_string = "Python"

for letter in a_string:
  print(letter) 

list("Python")
['P', 'y', 't', 'h', 'o', 'n']

#14. Print an object from a list of objects

In [ ]:
print(a_string[2])

#15. BONUS!!! Get the version of Python being used

In [ ]:
import sys
print("Python version")
print(sys.version)
print("version info.")
print(sys.version_info)